*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CCC8AA;
    font-family:Arial, Helvetica, sans-serif;
}

/* Nav */
nav{
    background-color: #191717;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color:  #CCC8AA;
    height: 80px;
    position: fixed;
    width: 100%;
}

.navbar-logo{
    width: 100px;
    height: 60px;
    margin-left: 30px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color:  #CCC8AA;
    font-weight: bold;
    font-size: 16px;
    transition: .4s;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #CCC8AA;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .4s;
}

nav ul li a:hover::after{
    width: 100%;
}

.active-page::after{
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    align-items: center;
    padding-top: 80px;
}

/* Home */
.main-home{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    align-items: center;
    width: 100%;

}

.landingPageText{
    text-align: left;
    margin-left: 50px;
}

.landingPageText h1 {
    text-align: left;
    color: #191717;
    font-size: 60px;
    font-weight: bold;
}

.landingPageUnderText{
    color: #191717;
    font-size: 15px;
    font-style: italic;
}


.main-home p {
    color: #191717;
    font-size: 10px;
    text-align: left;
    margin-top: 130px;
    font-weight: bold;
}

.landingPageImage{
    height: auto;
    margin-top: 70px;
}

.landingPageImage img{
    object-fit: contain;
    max-height: 450px;
    max-width: 450px;
    margin-left: 50px;
}

/* About */
.about-section{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 250px;
    align-items: center;
    margin-bottom: 40px;
    background-color: #191717;
    border-radius: 10px;
    max-height: 400px;
}

.about-section-textBox{
    text-align: left;
    margin-left: 70px;
}

.about-section-textBox h2{
    text-align: left;
    color: #CCC8AA;
    font-size: 40px;
    font-weight: bold;
}

.about-section-textBox p {
    color: #CCC8AA;
    font-size: 10px;
    text-align: left;
    font-weight: bold;
    max-width: 400px;
}

.about-section-imageBox{
    height: auto;
    margin-top: 25px;
}

.about-section-imageBox img{
    object-fit: contain;
    max-height: 350px;
}


/* Posts */
#posts-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    align-items: center;
    padding-top: 80px;
}
.posts-header{
    margin-bottom: 20px;
    margin-top: 20px;
}

.post {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    height: auto;
    width: 500px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #191717;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-author {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 7px;
    color: #CCC8AA;
    text-decoration: none;
}

.post-title {
    padding: 10px;
}

.post-body {
    margin-bottom: 10px;
    padding: 10px;
}

.post-username {
    font-style: italic;
    margin-bottom: 10px;
    padding: 10px;
}

.comments {
    border: 1px solid #191717;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    background-color: #191717;
    color: #CCC8AA;
}

.comment{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #3f3c3c;
    border-radius: 5px;
    
}

.comment-header{
    display: flex;
}

.comment-username{
    margin-top: 3px;
    color: #CCC8AA;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;

}


.comment-header img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-body{
    margin-top: 10px;
    color: #fff;
}

#user-details{
    position: fixed;
    background-color: #191717;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    color: #CCC8AA;
    font-size: 12px;
    width: 200px;
    height: auto;
    text-align: center;
    z-index: 1;
    display: none;
}

footer {
    color: #191717;
    text-align: right;
    padding: 20px;
    width: auto;
    font-size: small;
}

/* Contact */   


.contact-header{
    margin-top: 80px; ;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #191717;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    padding-top: 50px;
}

.contact-form label{
    font-size: 20px;
    font-weight: bold;
    color: #191717;
}

.contact-form input{
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.contact-form textarea{
    width: 300px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}


/* Media Queries*/
@media (max-width: 600px){

    nav ul li{
        margin: 10px 10px;
    }

    nav ul li a{
        font-size: 12px;
    }

    .main-home{
        flex-direction: column;
        align-items: center;

    }

    .landingPageText{
        order: 2;
        margin-left: 10%;
    }


    .landingPageImage{
        order: 1;
        margin-top: 20px;
        margin-left: 10px;
    }

    .landingPageText h1{
        font-size: 50px;
        margin-top: 0px;    
    }

    .landingPageUnderText{
        font-size: 20px;
        margin-top: 20px;
    }

    .landingPageText p{
        margin-top: 40px;
        margin-bottom: 40px;

    }
    .landingPageImage img{
        max-height: 300px;
        max-width: 300px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .about-section{
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    .about-section-textBox{
        order: 2;
        margin-left: 40px;
    }

    .about-section-imageBox{
        order: 1;
        margin-top: 10px;
    }

    .about-section-textBox h2{
        font-size: 30px;
    }

    .about-section-textBox p{
        max-width: 200px;
    }

    .about-section-imageBox img{
        max-height: 200px;
        max-width: 200px;
    }

    footer {
        text-align: center;
    }

    /* Posts */
    .main-posts{
        align-items: center;
    }
    .post{
        width: 300px;
        margin-left: 30px;
    }

    .post-header {
        padding: 5px;
    }

    .post-header img {
        width: 30px;
        height: 30px;
    }

    .post-title {
        font-size: 20px;
    }

    .post-body {
        font-size: 16px;
    }

    .post-username {
        font-size: 14px;
    }
}